.skills {
  background-color: var(--light-tertiary-color);
  scroll-margin-top: 15rem;
}

.skills .skills__content {
  padding: 6rem 4rem;
  text-align: center;
}

.skills .skills__content .description {
  max-width: 56rem;
  margin: 0 auto 6rem;
}

.skills .skills__content ul {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.skills__topics {
  display: flex;
  justify-content: center;
  gap: 14rem;
  margin-top: 2rem;
}

.skills__topics .topic {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.skills__topics .topic h4 {
  margin-top: 1rem; /* ou qualquer valor que desejar */
}

.skills__topics .topic .imgNode {
  width: 14rem; /* ou qualquer tamanho, como 5rem ou 50px */
  height: auto;
}

.skills__topics .topic .imgNext {
  width: 10rem; /* ou qualquer tamanho, como 5rem ou 50px */
  height: auto;
}

.skills__topics .topic .imgReact {
  width: 5rem; /* ou qualquer tamanho, como 5rem ou 50px */
  height: auto;
}

.skills__topics .topic .imgTS {
  width: 4rem; /* ou qualquer tamanho, como 5rem ou 50px */
  height: auto;
}

.skills__topics .topic .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap; /* Ajuda na responsividade */
  margin-top: 1rem;
}

.skills__topics .topic .icons2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap; /* Ajuda na responsividade */
  margin-top: 2rem;
}

.skills .skills__content ul li .image-container {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.skills .skills__content ul li h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 2rem 0 1rem;
}
